{{>layout/header}}
<body>
<h1>게시글</h1>
<div class="col-md-12">
    <div class="row">
        {{#user}}
            Logged in as: <span id="user">{{name}}</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/user}}
        {{^user}}
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        {{/user}}
    </div>
    <form>
        {{#post}}
            <div class="form-control">
                <h2>{{title}}</h2>
            </div>
            <div class="form-control">
                <label for="postNo">게시글 번호: {{postNo}}</label>
                <label for="user">작성자: {{userName}}</label>
                <label for="regDt">등록 일자: {{regDt}}</label>
            </div>
            <div class="form-control">
                <label for="price">{{price}}</label>
                <label for="soldYN">{{soldYN}}</label>
            </div>
            <div class="form-control">
                <label for="content">내용</label>
                <p>{{content}}</p>
            </div>
        {{/post}}
    </form>
    <div class="form-control" id="btn-selector">
        <a href="/" role="button" class="btn btn-primary">뒤로가기</a>
    </div>
</div>
{{>layout/footer}}