{{>layout/header}}
<body onload="userCheck()">
<script src="/js/app/post.js"></script>
<h1>게시글</h1>
<div class="col-md-12">
    <div class="row">
        {{#user}}
            Logged in as: <span id="user">{{name}}</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/user}}
        {{^user}}
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        {{/user}}
    </div>
    <form>
        {{#post}}
            <table class="table table-horizontal table-bordered">
                <tbody class="thead-strong">
                    <tr>
                        <th scope="row">글 번호</th>
                        <td id="postNo">{{postNo}}</td>
                        <th scope="row">판매 여부</th>
                        <td id="soldYN">{{soldYN}}</td>
                    </tr>
                    <tr>
                        <th scope="row">작성자</th>
                        <td id="postUserName">{{userName}}</td>
                        <th scope="row">작성일</th>
                        <td>{{regDt}}</td>
                    </tr>
                    <tr>
                        <th scope="row">제목</th>
                        <td colspan="6">{{title}}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="view_text">
                            <div><p>{{content}}</p></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        {{/post}}
    </form>
    <div id="btn-selector">
        <a href="/" role="button" class="btn btn-primary">뒤로가기</a>
    </div>
</div>
{{>layout/footer}}