{{>layout/header}}
<body>
<h1>중고 악기 판매 사이트</h1>
<div class="col-md-12">
    <div class="row">
        {{#user}}
            Logged in as: <span id="user">{{name}}</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/user}}
        {{^user}}
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        {{/user}}
    </div>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>가격</th>
            <th>작성자</th>
            <th>판매 여부</th>
            <th>등록 일자</th>
        </tr>
        </thead>
        {{#posts}}
            <tbody id="tbody">
                <tr>
                    <td>{{postNo}}</td>
                    <td><a href="/post?no={{postNo}}" id="post-select">{{title}}</a></td>
                    <td>{{price}}만원</td>
                    <td>{{userName}}</td>
                    <td>{{soldYN}}</td>
                    <td>{{regDt}}</td>
                </tr>
            </tbody>
        {{/posts}}
        {{^posts}}
            <p>해당 게시글이 없습니다</p>
        {{/posts}}
    </table>
</div>
{{>layout/footer}}